﻿body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("background_image.jpg");
    overflow: hidden;
}

.card {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.932);
    transition: 0.3s;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    border: 20px;
    background: white;
    box-shadow: 6px 6px 16px rgba(0,0,0.9);
    text-align: center;
}

.card-hover {
    box-shadow: 0 5px 9px 0 rgba(255, 255, 255, 0.932);
}

.container {
    padding: 10px 90px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 95%;
}

@media only screen and (min-width: 800px) {
    body {
        flex-direction: row;
    }
}
